body {
    background-color: ##fbceb1;
    font-family: 'Montserrat', sans-serif;
}
.navigation {
    align-items: center;
    justify-content: space-between;
}
.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}
.nav>li>a {
    padding-left: 18px;
    margin-left: 17px;
    position: relative;
};
.nav>li::before {
    content: '';
    display:block
    width: 2px;
    height: 100%;
    background-color: #808080;
    position: absolute;
    left: 0;
}
.nav>li>a {
    text-decoration: none;
    color: #1E90FF
}